@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; /* Menetapkan tinggi halaman agar bisa mengisi seluruh viewport */
    margin: 0;
    padding: 0;
    background-image: url("assets/images/Home.png");
    background-size:auto; /* Mengatur ukuran gambar latar belakang agar menutupi seluruh area yang tersedia */
    background-position: center; /* Menempatkan gambar latar belakang di tengah-tengah halaman */
    background-repeat: repeat; /* Mencegah gambar latar belakang diulang */
}

.awal {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
}

.smansa {
    margin-left: 20px;
    margin-top: 20px;
}



.t1 {
    margin-left: 60%;
}

.judul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17px;
    text-shadow: 7px 8px 2px #060606;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: Montserrat;
}

.value {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-top: 23px;
    font-size: 21px;
    font-family: Montserrat;
    color: #fff;
    
}

.bungkus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.eks {
    font-family: Lato;
}

.kul {
    margin-top: 3px;
    font-size: 28px;
    font-family: DM+Sans;
}

.piw{
    line-height: 40px;
    font-size: 19px;
    font-family: Open+Sans;
}

.text {
    width: 50%; /* Adjust width as needed */
    background-color:#425E4F ;
    padding: 20px;
    overflow: hidden; /* Hide overflow content */
    margin-left: 85px;
    margin-top: 22px;
    border-radius: 11px;
    color: #fff;
}

.text p {
    width: 100%; /* Make sure the paragraph takes full width */
    margin-bottom: 20px;
    word-wrap: break-word; /* Break long words */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowing text */
    white-space: pre-wrap; /* Wrap text preserving white spaces */
}

.baten {
    width: 90px;
    border-radius: 7px;
    background-color: white;

}

.sosmed {
    /* margin-top: 11px; */
}
.ig{
    margin-left: 85%;
    font-size: 42px;
}
.sos {
    /* margin-top: 31px; */
    margin-left: 85%;
    font-size: 42px;
    color: rgb(255,68,68);
}



@media (min-width: 375px) and (max-width : 993px) {
    .awal {
        margin-left: 2px;
    }

    .smansa {
        width: 55px;
        height: 65px;
    }

    .judul {
        font-size: 17px;
    }

    .value {
        font-size: 31px;
        margin-left: 50px;
        color: #060606;
    }

    .eks {
        margin-top: 4px;
    }

    .kul {
        margin-top: 1px;
    }

    .t1 {
        margin-left: 7px;
    }

    .piw {
        font-size: 17px;
    }

    .text {
        margin-left: 40px;
        width: 80%;
    }

    body, html {
        background-repeat: no-repeat;
    }
}
